@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  
}
.fondo-general{  
    background-color: rgb(17, 17, 17);
}
.fondo{
   background-image: url(../IMAGENES/lasallef2.png);
   background-size: cover;
   mask-image: linear-gradient(rgba(0, 0, 0) 95%, transparent);
   height: 100vh;
   justify-items: center;
   align-items: center;
   overflow: hidden;
}
.imagen{
    height: 70px;
    width: 80px;
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 13px;
    padding-right: 13px;
    transition: 0.9s ease;
    background-color: rgb(219, 219, 219);
    clip-path: circle(37%);
    margin-bottom: 15px;
}
.imagen:hover{
    transform: scale(1.1);
}
.navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(29, 29, 29, 0.103);
    width: auto;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.35);
}

.nav-list{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-bottom: 8px;
    padding-right: 10px;
    font-size: 0.75rem;
}
.nav-list .btn-1 a::after{
    content: '';
    height: 2px;
    width: 0;
    background: linear-gradient(to right,rgb(95, 95, 235), rgb(228, 228, 106));
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    transition: 0.5s ease;
}
.nav-list li a:hover::after{
    width: 92%;
}
.btn-1{
    background: transparent;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-nav{
    color: white;
}
.btn-login{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding-left: 10px;
    transition: 0.9s ease;
}
.btn-login:hover{
    background-color: white;
    transform: scale(1.1);
    a{
        color: black;
    }
}
.btn-nav{
    font-size: 20px;
    font-weight: 3rem;
    border: none;
    background: transparent;
    display: none;
    cursor: pointer;
}
.portada{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 70%;
    width: 110vh;
    align-items: center;
}
.portada-content{
    align-items: center; 
    text-align: center;
    color: aliceblue;   
}
.portada-content h1{
    font-weight: 700;
    animation-name: slideright;
    animation-duration: 2s;
}
.caja-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}
.btn{
    align-items: center;
    background-color: rgb(222, 224, 59);
    border: none;
    transition: transform 0.3s ease;
    border-radius: 50px;
}
.btn-2{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: 600;
}

.btn:hover{
    background-color: rgb(222, 236, 16);
    transform: scale(1.1);
    a{
    color: rgb(23, 23, 54);
    }
}

.bolitas{
    background-color: rgb(255, 238, 0);
    width: 2px;
    height: 2px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgb(102, 99, 60);
    z-index: -1;
    animation-name: particulas;
    animation-duration: alternate;
    animation-iteration-count: infinite;

}
.inicio-bolitas{
    height: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    z-index: -1000;
}
@keyframes particulas{
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: -90vh;
    }
}
.scroll-container{
    overflow: hidden;
}
.caja{
    min-width: 250px;
    animation: 20s scroll infinite ease;
    align-items: center;
}
.caja img{
    object-fit: cover;
    height: 60px;
    align-items: center;
}
.fondo3{
    mask-image: linear-gradient(to top,rgba(0, 0, 0) 99%, transparent);
}
.info{
    background-color: rgba(32, 32, 32, 0);
    animation: aparecer 1s ease;
    animation-timeline: view();
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(0.3);
        transform: translateY(30%);
    }
    to{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0%);
    }
}
.info-title h1{
    background-color: rgb(236, 236, 236);
    font-weight: 700;
    width: 100%;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    clip-path: polygon(100% 0, 98% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}
.info-text p{    
    color: white;
}
.info-text ul li {
    color: white;
}
.btn-votar{
    height: 50px;
    width: 200px;
    font-weight: 700;
}
.imagen-votar{
    background-image: url(../IMAGENES/votar.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    clip-path: circle();
}
.espejo{
    display: flex;
    flex-direction: row-reverse;
}
.video-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-contenedor h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    align-items: center;
    align-self: center;
    justify-content: center;
   
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(122, 122, 122, 0.732);
    border-radius: 20px;
}
.l-n{
    color:rgb(79, 79, 199);
}
.l-c{
    color:rgb(59, 168, 105);
}
.l-a{
    color:rgb(211, 22, 32);
}
.bg-imagen-nca{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-nca{
    background-image: url(../IMAGENES/logoNCA800.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: aliceblue;
    border-radius: 40px;
}
footer{
    color: rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
}
.footer-caja1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}
@keyframes slideright{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slide-right{
    from{
        
        transform: translateX(0%);
    }
    to{
        
        transform: translateX(100%);
    }
}
@media (max-width:1200px){
    .navbar-content{
        justify-content: space-between;
        width: 80%;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        height: 100dvh;
        width: 50dvh;
        top: -20%;
        border-radius: 20px;
        right: -130px;
        padding: 5rem 1.5rem;
        backdrop-filter: blur(20px);
        z-index: 999;
    }
    .btn-nav{
        padding-bottom: 15px;
        display: block;
        z-index: 1000;
    }
    .votacion p{
        width: 100%;
    }
    
}
.btn-nav.active{
    transform: translateX(120px);
}
.nav-list.active{
    display: flex;
    animation-name: slide-left;
    animation-duration: 0.4s;
}
.nav-list.close{
    display: flex;
    animation-name: slide-right;
    animation-duration: 0.4s;
}



@keyframes slide-left{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }

}
    

 